* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --p-color: #0ed487;
   --s-color: #0cc87f;
   height: 100%;

   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 200;
}

.accordion-container {
   width: 90%;
   max-width: 800px;
   margin: 10% auto;
}

.accordion-title {
   position: relative;

   display: block;

   width: 100%;
   height: 70px;

   cursor: pointer;

   color: white;
   border-top: solid 1px white;
   background-color: var(--p-color);
   -webkit-box-shadow: 0 1px 2px 0 grey;
   box-shadow: 0 1px 2px 0 grey;

   font-size: 1.6rem;
}

.accordion-title i {
   position: absolute;
   top: calc(50% - 0.8rem);
   right: 5%;
}

.accordion-title p {
   position: absolute;
   top: 50%;
   left: 5%;

   margin: 0;

   -webkit-transform: translateY(-50%);

   transform: translateY(-50%);
}

.accordion-title:hover {
   background-color: var(--s-color);
}

.accordion-content {
   display: block;
   overflow: hidden;

   height: 0;

   font-size: 0.9rem;
   transition: height 0.6s ease, padding 0.2s ease-in;

}

.accordion-content:target {
   height: 150px;
   padding: 5%;
}

/* BOTTOM NAVIGATION */

.navigation {
   position: absolute;
   bottom: 5%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: flex-end;
   justify-content: center;

   margin: 0 auto;

   font-size: 2rem;
}

.navigation a {
   text-decoration: none;

   color: #ebebeb;
}

.navigation a:nth-child(2) {
   padding: 0 30px;
}

.navigation a:hover {
   cursor: pointer;

   color: #bbb9bb;
}

.navigation a:active {
   transform: translateY(1px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
   .accordion-content:target {
      padding: 10%;
      height: 220px;
   }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
   .navigation {
      position: relative;
      margin: 0 auto 10%;
   }
}