* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --p-color: #0ed487;
   --s-color: #0cc87f;
   height: 100%;

   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 200;
}

.accordion-container {
   width: 90%;
   max-width: 800px;
   margin: 10% auto;
}

.accordion-title {
   position: relative;

   display: block;

   width: 100%;
   height: 70px;

   cursor: pointer;

   color: white;
   border-top: solid 1px white;
   background-color: var(--p-color);
   -webkit-box-shadow: 0 1px 2px 0 grey;
   box-shadow: 0 1px 2px 0 grey;

   font-size: 1.6rem;
}

.accordion-title i {
   position: absolute;
   top: calc(50% - 0.8rem);
   right: 5%;
}

.accordion-title p {
   position: absolute;
   top: 50%;
   left: 5%;

   margin: 0;

   -webkit-transform: translateY(-50%);

   transform: translateY(-50%);
}

.accordion-title:hover {
   background-color: var(--s-color);
}

.accordion-content {
   overflow: hidden;

   width: 100%;
   max-width: 800px;
   height: 0;

   font-size: 0.9rem;
}

.accordion-content:target {
   height: 15%;
   padding: 5%;
}